<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>Your Group Plan</title>
    <link th:replace="partials/links :: links"/>
    <link th:replace="partials/checklist-links :: links"/>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">HELP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkupTrue" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkupTrue">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/our-team">Our Team</a>
            <a class="nav-item nav-link" href="/the-checklist">Checklist</a>
            <a class="nav-item nav-link" href="/profile">Profile</a>
            <a class="nav-item nav-link" href="/the-plan">The Plan</a>
<!--            <form th:action="@{/logout}" th:method="post">-->
<!--                <button class="btn-link btn">Logout</button>-->
<!--            </form>-->
        </div>
    </div>
</nav>
<hr>

<!--MAPBOX HTML-->
<h1 class="font-weight-bold">Welcome to Your Emergency Plan</h1>
<div class="light-blue-bg">
<section class="container-fluid">
    <div>
        <div>
            <h2><strong>Your Household's Designated Meetup Spot:</strong></h2>
            <small class="text-muted"><h2 id="rallyPoint" th:text="${rallyPoint}"></h2></small>
        </div>
        <!--MAPBOX CONTAINER-->
        <div id="map"></div>
        <br>
        <div>
            <h3>Map Navigation</h3>
            <button class="btn btn-primary" id="btn1">Zoom In</button>
            <button class="btn btn-primary" id="btn2">Zoom to Default</button>
            <button class="btn btn-primary" id="btn3">Zoom Out</button>
            <a class="btn btn-primary" id="downloadLink" href="" download="map.png">Download and Print Maps</a>
        </div>

        <!--    <div id="image"></div>-->
</section>
</div>
<hr>
<!-- SENTIMENTAL CHECKLIST-->
<section class="container-fluid">
    <div class="myDIV header">
        <h2 class="mb-4 font-weight-bold white-text">Sentimental Items Checklist
            <div class="arrowpopup font-weight-bold blinking" role="alert" onclick="toolTipHeader()">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                    <circle cx="8" cy="4.5" r="1"/>
                </svg>
                <span class="tooltiptext tooltipHeader">Sentimental items are those items that cannot be replaced. Such as family photo albums and family heirlooms.<br><br>Enter name of item and location where item is kept in home.</span>
            </div>
        </h2>
        <!--CHECKLIST INPUT FIELD-->
        <div id="checklist-items">
            <form th:action="@{/items/submit}" th:method="post" th:object="${item}">
                <input class="form-control" id="exampleInputEmail1" placeholder="Your Sentimental Item"
                       th:field="*{title}">
                <input class="form-control" id="location" placeholder="The Item's Location" th:field="*{location}">
                <br/>
                <button type="button submit" class="btn btn-primary btn-lg btn-block">Add Item</button>
            </form>
        </div>
    </div>
    <br>
    <!--SHOW SENTIMENTAL ITEMS-->
    <!--    <span th:if="${item == null}">-->
    <!--    &lt;!&ndash;purposely left empty so it shows nothing&ndash;&gt;-->
    <!--    </span>-->
    <!--    <span th:unless="${item == null}">-->
    <div class="d-flex row">
        <h3 class="col-6 text-center">Item</h3>
        <h3 class="col-6 text-center">Location</h3>
    </div>
    <div id="item-container">
        <ul class="myUL">
        </ul>
    </div>
    <!--    </span>-->
</section>

<!--PRINT FORM BUTTON-->
<!--<div class="container-fluid" id="containerBlueButton1">-->
<!--    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.print();">Print Sentimental Items Checklist</button>-->
<!--</div>-->
<!--<hr>-->


<!-- DOCUMENTS -->
<section class="container-fluid">
    <div class="myDIV header">
        <h2 class="mb-4 font-weight-bold white-text">Important Documents
            <div class="arrowpopup font-weight-bold blinking" role="alert" onclick="toolTipHeader()">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                    <circle cx="8" cy="4.5" r="1"/>
                </svg>
                <span class="tooltiptext tooltipHeader">Sentimental items are those items that cannot be replaced. Such as family photo albums and family heirlooms.<br><br>Enter name of item and location where item is kept in home.</span>
            </div>
        </h2>
        <!--DOCUMENT INPUT FIELD-->
        <div id="document-items">
            <form th:action="@{/docs/submit}" th:method="post" th:object="${doc}">
                <input class="form-control" id="exampleInputEmail2" placeholder="Your Important Documents"
                       th:field="*{title}">
                <input class="form-control" id="location1" placeholder="The Document's Secure URL" th:field="*{url}">
                <br/>
                <button type="button submit" class="btn btn-primary btn-lg btn-block">Add Item</button>
            </form>
        </div>
    </div>
    <br>
    <!--SHOW SENTIMENTAL ITEMS-->
    <!--    <span th:if="${item == null}">-->
    <!--    &lt;!&ndash;purposely left empty so it shows nothing&ndash;&gt;-->
    <!--    </span>-->
    <!--    <span th:unless="${item == null}">-->
    <div class="d-flex row">
        <h3 class="col-6 text-center">Document</h3>
        <h3 class="col-6 text-center">URL</h3>
    </div>
    <div id="doc-container">
        <ul class="myUL">
        </ul>
    </div>
    <!--    </span>-->
</section>

<!--PRINT FORM BUTTON-->
<hr>
<div class="container-fluid" id="containerBlueButton1">
    <button type="button" class="btn btn-primary btn-lg btn-block" onclick="window.print();">Print Sentimental Items
        Checklist
    </button>
</div>
<br>
<div class="text-center">
    <button type="button" class="btn btn-primary "
            onclick="target='_blank'; location.href='/the-checklist'">Standard Emergency Checklist
    </button>
</div>

<!--GO TO PREPAREDNESS CHECKLIST BUTTON-->
<!--<div class="container-fluid" id="containerBlueButton3">-->
<!--    <button type="button" class="btn btn-primary"-->
<!--            onclick="target='_blank'; location.href='/the-checklist'">Go To Emergency Preparedness Checklist-->
<!--    </button>-->
<!--</div>-->
<!--<hr>-->
<!--temporary breaks-->
<br>
<br>
<br>
<br>
<br>
<br>

<!--<footer th:replace="partials/footer :: footer"></footer>-->
<div th:replace="partials/scripts :: scripts"></div>
<script src="/js/map.js"></script>
<!--ITEMS-->
<script type="text/javascript">
    (function ($) {
        let request = $.ajax({'url': '/items.json'});
        request.done(function (items) {
            let html = '';
            items.forEach(function (item) {
                html += '<li>' +
                    '<div class="row"><div class="col-6 text-center">' + item.title + '</div>' + " " +
                    '<div class="col-6 text-center">' + item.location + '</div></div>' +
                    '</li>';
                //button to delete needed - not sure how to concatenate
            });
            $('#item-container ul').html(html);
        });
    })(jQuery);
</script>
<!--DOCS-->
<script type="text/javascript">
    (function ($) {
        let request = $.ajax({'url': '/docs.json'});
        request.done(function (docs) {
            let html = '';
            docs.forEach(function (doc) {
                html += '<li>' +
                    '<div class="row"><div class="col-6 text-center">' + doc.title + '</div>' + " " +
                    '<div class="col-6 text-center">' + doc.url + '</div></div>' +
                    '</li>';
                //button to delete needed - not sure how to concatenate
            });
            $('#doc-container ul').html(html);
        });
    })(jQuery);
</script>

</body>
</html>
