<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Helpful Checklists</title>
    <link th:replace="partials/checklist-links :: links"/>
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">HELP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkupTrue" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkupTrue">
        <div class="navbar-nav">
<!--            <a class="nav-item nav-link" href="/info">General Info</a>-->
            <a class="nav-item nav-link" href="/our-team">Our Team</a>
            <a class="nav-item nav-link" href="/profile">Profile</a>
            <a class="nav-item nav-link" href="/the-checklist">Checklist</a>
            <a class="nav-item nav-link" href="/the-plan">The Plan</a>
            <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn">Logout</button>
            </form>
        </div>
    </div>
</nav>

<!--CHECKLIST MAIN HEADER-->
<section class="container-fluid" id="container">
    <h1 class="d-flex justify-content-center font-weight-bold text-center">Checklist & Links for 72 Hour Emergency Preparedness
    </h1>

    <!--CHECKLIST RADIO BUTTONS 1-10-->
    <div class="outer-form mx-5 my-5">
        <form id="checklist-form" method="GET">
            <div class="form-row">
                <div class="form-group mx-5 my-5">
                    <!--CHECKLIST HEADER #1-->
                    <div class="d-inline-flex">
                        <h2 class="font-weight-bold" style="text-decoration: underline">Recommended Items to Include in a Basic Emergency Supply Go-Bag:</h2>
                        <div class="arrowpopup font-weight-bold ml-4 mt-4 blinking">
                            <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                <circle cx="8" cy="4.5" r="1"/>
                            </svg>
                            <span class="tooltiptext" id="tooltipClickMe">Go-bags and essential supplies can be prepared with some creative thinking and a low budget. Dollar Stores, Walmart and hardware stores are great resources.<br>
                                <br><a class="hrefToolTip" target="_blank" href="https://www.redcross.org/store/preparedness">Learn More About Go-Bags</a>
                            </span>
                        </div>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio1">Water, one gallon of water per person per day, for at least three days, for drinking and sanitation.
                            <input type="checkbox" name="video" id="radio1" value="video">
                            <span class="checkmark"></span><br>
                        </label>
                        <div class="arrowpopup font-weight-bold pt-4 pl-3">
                            <svg width="1.75em" height="1.75em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                <circle cx="8" cy="4.5" r="1"/>
                            </svg>
                            <span class="tooltiptext" id="tooltip1">Minimum standards for daily water intake are universally recognized and set at 2.5 - 3 liters per day<br>(or approximately 85 - 101 fluid ounces).<br>
                                <br><a class="hrefToolTip" target="_blank" href="https://www.watercures.org/survival-hydration.html">Learn More About Survival Hydration</a>
                                    <br><a class="hrefToolTip" target="_blank" href="https://www.amazon.com/WaterBOB-Emergency-Container-Drinking-Hurricane/dp/B001AXLUX2">Learn More About The WaterBOB</a>
                            </span>
                        </div>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio2">Food, at least a three-day supply of non-perishable food.
                            <input type="checkbox" name="wiki" id="radio2" value="wiki">
                            <span class="checkmark"></span><br>
                        </label>
                        <div class="arrowpopup font-weight-bold pt-4 pl-3">
                            <svg width="1.75em" height="1.75em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                <circle cx="8" cy="4.5" r="1"/>
                            </svg>
                            <span class="tooltiptext" id="tooltip2">The total number of calories a person needs each day varies depending on a number of factors, including the person’s age, sex, height, weight, and level of physical activity.<br>
                                <br><a class="hrefToolTip" target="_blank" href="https://health.gov/our-work/food-nutrition/2015-2020-dietary-guidelines/guidelines/appendix-2/">Learn More About Estimated Calorie Needs per Day</a>
                                        <br><a class="hrefToolTip" target="_blank" href="https://www.walmart.com/search/?query=emergency%20food">Learn More About Readily Available Emergency Food</a>
                            </span>
                        </div>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio3">American Red Cross Emergency NOAA Weather Radio with USB Smartphone Charger, LED Flashlight & Red Beacon
                            <input type="checkbox" name="forum" id="radio3" value="forum">
                            <span class="checkmark"></span><br>
                        </label>
                        <div class="arrowpopup font-weight-bold pt-4 pl-3">
                            <svg width="1.75em" height="1.75em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                <circle cx="8" cy="4.5" r="1"/>
                            </svg>
                            <span class="tooltiptext" id="tooltip3">Be prepared for any emergencies & disasters with this rechargeable weather alert radio with solar panel & hand turbine power generator. No emergency kit is complete without it.<br>
                                <br><a class="hrefToolTip" target="_blank" href="https://www.amazon.com/American-Emergency-Weather-Smartphone-Flashlight/dp/B00HSHH5DI/ref=redir_mobile_desktop?ie=UTF8&aaxitk=I30Kp.2CZ7nNpedbpIzE9Q&hsa_cr_id=4371867880701&pd_rd_r=df7987c7-57f3-4b27-8542-baf2f30c5c45&pd_rd_w=6DacV&pd_rd_wg=usMpI&ref_=sbx_be_s_sparkle_mcd_asin_0_title">Learn More About A Great Product</a>
                            </span>
                        </div>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio4">Small, Lightweight hand crank flashlights for each individual.
                            <input type="checkbox" name="course" id="radio4" value="course">
                            <span class="checkmark"></span><br>
                        </label>
                        <div class="arrowpopup font-weight-bold pt-4 pl-3">
                            <svg width="1.75em" height="1.75em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                <circle cx="8" cy="4.5" r="1"/>
                            </svg>
                            <span class="tooltiptext" id="tooltip4">This is important for several reasons, one is to have backup flashlights in case one fails, and two so that individuals can move around household or shelter safely during blackouts.<br>
                                <br><a class="hrefToolTip" target="_blank" href="https://www.walmart.com/search/?query=handcrank%20flashlight">Learn More About Inexpensive Choices Readily Available</a>
                            </span>
                        </div>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio5">Whistle to signal for help.
                            <input type="checkbox" name="course" id="radio5" value="course">
                            <span class="checkmark"></span><br>
                        </label>
                        <div class="arrowpopup font-weight-bold pt-4 pl-3">
                            <svg width="1.75em" height="1.75em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                <circle cx="8" cy="4.5" r="1"/>
                            </svg>
                            <span class="tooltiptext" id="tooltip5">There are many choices to choose from when it comes to emergency alert devices, it is recommended that each individual carries or wears a whistle.<br>
                                <br><a class="hrefToolTip" target="_blank" href="https://www.walmart.com/search/?query=emergency%20whistle">Learn More About Whisteles</a>
                            </span>
                        </div>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio6">Dust mask, to help filter contaminated air and plastic sheeting and Duct Tape to shelter-in-place.
                            <input type="checkbox" name="course" id="radio6" value="course">
                            <span class="checkmark"></span><br>
                        </label>
                        <div class="arrowpopup font-weight-bold pt-4 pl-3">
                            <svg width="1.75em" height="1.75em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                <circle cx="8" cy="4.5" r="1"/>
                            </svg>
                            <span class="tooltiptext" id="tooltip6">A trip to your local hardware store can provide a geat resource for shelter in place needs.<br>
                                <br><a class="hrefToolTip" target="_blank" href="https://www.homedepot.com/s/mask?NCNI-5">Learn More About Masks</a>
                            </span>
                        </div>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio7">Moist towelettes, garbage bags for sanitation.
                            ties
                            for personal sanitation
                            <input type="checkbox" name="course" id="radio7" value="course">
                            <span class="checkmark"></span><br>
                        </label>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio8">Wrench or pliers to turn off utilities
                            <input type="checkbox" name="course" id="radio8" value="course">
                            <span class="checkmark"></span><br>
                        </label>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio9">Can opener for food (if kit contains canned food)
                            <input type="checkbox" name="course" id="radio9" value="course">
                            <span class="checkmark"></span><br>
                        </label>
                        <div class="arrowpopup font-weight-bold pt-4 pl-3">
                            <svg width="1.75em" height="1.75em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                <circle cx="8" cy="4.5" r="1"/>
                            </svg>
                            <span class="tooltiptext" id="tooltip9">The P-38 Can Opener is known as a "John Wayne" by the United States Marine Corps, because of its toughness and dependability.<img src="img/P-38_Can_Opener.jpg" style="height: 300px; width: 400px" alt="P-38_Can_opener"><br>
                                <br><a class="hrefToolTip" target="_blank" href="https://en.wikipedia.org/wiki/P-38_can_opener">Learn The History Of The P-38</a>
                            </span>
                        </div>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-5" for="radio10">Local maps
                            <input type="checkbox" name="course" id="radio10" value="course">
                            <span class="checkmark"></span><br>
                        </label>
                        <div class="arrowpopup font-weight-bold pt-4 pl-3">
                            <svg width="1.75em" height="1.75em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                <circle cx="8" cy="4.5" r="1"/>
                            </svg>
                            <span class="tooltiptext" id="tooltip10">Go back to "The-Plan" to create customized maps and household meet-up spots incase of emergency evacuation orders.<br>
                                <br><a class="hrefToolTip" target="_blank" href="/the_plan.html">Go back to "The-Plan"</a>
                            </span>
                        </div>
                    </div>

                    <!--CHECKLIST HEADER #2-->
                    <h2 class="font-weight-bold" style="text-decoration: underline">Additional Items to Consider Adding to an Emergency Supply Kit:</h2>
                    <br>
                    <!--CHECKLIST RADIO BUTTONS 11-25-->

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio11">Prescription medications and glasses
                            <input type="checkbox" name="front" id="radio11" value="front">
                            <span class="checkmark"></span><br>
                        </label>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio12">Infant formula and diapers
                            <input type="checkbox" name="back" id="radio12" value="back">
                            <span class="checkmark"></span><br>
                        </label>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio13">Pet food and extra water for your pet
                            <input type="checkbox" name="data" id="radio13" value="data">
                            <span class="checkmark"></span><br>
                        </label>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio14">Important family documents such as copies of insurance policies, identification and bank account records in a waterproof, portable container
                            <input type="checkbox" name="challanges" id="radio14" value="challanges">
                            <span class="checkmark"></span><br>
                        </label>
                        <div class="arrowpopup font-weight-bold pt-4 pl-3">
                            <svg width="1.75em" height="1.75em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                <circle cx="8" cy="4.5" r="1"/>
                            </svg>
                            <span class="tooltiptext" id="tooltip14">Go back to "The Plan" to upload and store scanned images of important documants in a secure internet cloud location, or copy to an external storage device such as a USB drive or writable CD to leave in Go-bag.</span>
                        </div>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio15">Cash or traveler’s checks and change
                            <input type="checkbox" name="git" id="radio15" value="git">
                            <span class="checkmark"></span><br>
                        </label>
                        <div class="arrowpopup font-weight-bold pt-4 pl-3">
                            <svg width="1.75em" height="1.75em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                <circle cx="8" cy="4.5" r="1"/>
                            </svg>
                            <span class="tooltiptext" id="tooltip15">There is no real formula for how much money to keep on hand for emergencies. Usually the wisest plan is to figure that some price gouging may occure and items may increase in price.Keeping enough money to fill your car's gas tank at twice, and to pay for lodging for at least three nights, change is an essential for vending machines.
                            </span>
                        </div>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio16">Emergency reference material such as a first aid book or information
                            <input type="checkbox" name="video" id="radio16" value="video">
                            <span class="checkmark"></span><br>
                        </label>
                        <div class="arrowpopup font-weight-bold pt-4 pl-3">
                            <svg width="1.75em" height="1.75em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                <circle cx="8" cy="4.5" r="1"/>
                            </svg>
                            <span class="tooltiptext" id="tooltip16">First Aid Guide First aid is everyone's responsibility.<br>
                                <br><a class="hrefToolTip" target="_blank" href="https://www.thebreakingnews.com/files/articles/band-aid-guide.pdf">Learn More About First Aid</a>
                            </span>
                        </div>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio17">Sleeping bag or warm blanket for each person.
                            <input type="checkbox" name="wiki" id="radio17" value="wiki">
                            <span class="checkmark"></span><br>
                        </label>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio18">Complete change or clothing including a long
                            sleeve shirt, long pants and sturdy shoes.
                            <input type="checkbox" name="forum" id="radio18" value="forum">
                            <span class="checkmark"></span><br>
                        </label>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio19">Household chlorine bleach and medicine
                            dropper
                            <input type="checkbox" name="course" id="radio19" value="course">
                            <span class="checkmark"></span><br>
                        </label>
                        <div class="arrowpopup font-weight-bold pt-4 pl-3">
                            <svg width="1.75em" height="1.75em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                <circle cx="8" cy="4.5" r="1"/>
                            </svg>
                            <span class="tooltiptext" id="tooltip19">When diluted nine parts water  to one part bleach,bleach can be used as a disinfectant. Or in an emergency,you can use it to  treat water by using 16 drops of regular household liquid bleachper gallon of water. Do not  use scented, color safe or bleaches with added cleaners.<br>
                                <br><a class="hrefToolTip" target="_blank" href="https://www.redcross.org/get-help/how-to-prepare-for-emergencies/types-of-emergencies/water-safety/water-treatment.html">Learn More About Water Purification</a>
                            </span>
                        </div>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio20">Fire Extinguisher
                            <input type="checkbox" name="course" id="radio20" value="course">
                            <span class="checkmark"></span><br>
                        </label>
                        <div class="arrowpopup font-weight-bold pt-4 pl-3">
                            <svg width="1.75em" height="1.75em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                <circle cx="8" cy="4.5" r="1"/>
                            </svg>
                            <span class="tooltiptext" id="tooltip20">In approximately 80% of all fire incidents, a simple portable fire extinguisher is all that is needed to put out the fire.<br>
                                <br><a class="hrefToolTip" target="_blank" href="https://www.femalifesafety.org/docs/ExtBrochure.pdf">Learn More About Fire Extinguishers</a>
                            </span>
                        </div>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio21">Matches in a waterproof container
                            <input type="checkbox" name="front" id="radio21" value="front">
                            <span class="checkmark"></span><br>
                        </label>
                        <div class="arrowpopup font-weight-bold pt-4 pl-3">
                            <svg width="1.75em" height="1.75em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                <circle cx="8" cy="4.5" r="1"/>
                            </svg>
                            <span class="tooltiptext" id="tooltip21"><img src="img/waterproof_matches.jpg" style="height: 350px; width: 300px" alt="waterproof_matches"><br>
                                <br><a class="hrefToolTip" target="_blank" href="https://www.walmart.com/search/?query=waterproof%20matches">Learn More About Water Proof Matches</a>
                            </span>
                        </div>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio22">Feminine supplies and personal hygiene items
                            <input type="checkbox" name="back" id="radio22" value="back">
                            <span class="checkmark"></span><br>
                        </label>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio23">Mess kits, paper cups, plates and plastic utensils, paper towel
                            <input type="checkbox" name="data" id="radio23" value="data">
                            <span class="checkmark"></span><br>
                        </label>
                        <div class="arrowpopup font-weight-bold pt-4 pl-3">
                            <svg width="1.75em" height="1.75em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                <circle cx="8" cy="4.5" r="1"/>
                            </svg>
                            <span class="tooltiptext" id="tooltip23">Conservation of water is essential in times of emergency, not have to wash cooking utensils can prolong your water supply for days.<br>
                                <br><a class="hrefToolTip" target="_blank" href="https://www.ready.gov/water">Learn More About Water Conservation</a>
                            </span>
                        </div>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio24">Paper and pencil, Books, games, puzzles or other activities for children.
                            <input type="checkbox" name="challanges" id="radio24" value="challanges">
                            <span class="checkmark"></span><br>
                        </label>
                    </div>
                    <br>

                    <div class="d-inline-flex">
                        <label class="custom-container mb-4" for="radio25">Helpful info with lots of great ideas is available on the subject of preparedness  all over the internet.
                            <input type="checkbox" name="git" id="radio25" value="git">
                            <span class="checkmark"></span><br>
                        </label>
                        <div class="arrowpopup font-weight-bold pt-4 pl-3">
                            <svg width="1.75em" height="1.75em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                                <circle cx="8" cy="4.5" r="1"/>
                            </svg>
                            <span class="tooltiptext" id="tooltip25">“there's no harm in hoping for the best as long as you're prepared for the worst.”<br>
                                <br><a class="hrefToolTip" target="_blank" href="https://www.ready.gov/">www.ready.gov</a>
                                    <br><a class="hrefToolTip" target="_blank" href="https://www.fema.gov/">www.fema.gov</a>
                                    <br><a class="hrefToolTip" target="_blank" href="https://www.noaa.gov/">www.noaa.gov</a>
                                    <br><a class="hrefToolTip" target="_blank" href="https://www.redcross.org/">www.redgross.org</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<!--PRINT FORM BUTTON-->
<div class="container-fluid text-center" id="containerBlueButton4">
    <button type="button" class="btn btn-primary" onclick="window.print();">Print Checklist</button>
</div>
<br>

<!--<footer th:replace="partials/footer :: footer"></footer>-->
<div th:replace="partials/scripts :: scripts"></div>
<script src="https://kit.fontawesome.com/ec3ca42531.js" crossorigin="anonymous"></script>


</body>
</html>
