<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <title>Create A Post</title>
            <link th:replace="partials/links :: links"/>
        </head>
        <body>
            <header th:replace="partials/header :: header"></header>
            <nav th:replace="partials/navbar :: navbar"></nav>

                <main class="container">
                    <form th:action="@{/messages/create}" th:method="message" th:object="${message}">
                        <label th:field="*{title}">Enter Message Title: </label> <br>
                        <input type="text" id="title" name="title"/> <br>
                        <label for="body">Enter your message: </label> <br>
                        <textarea th:field="*{body}" id="body" cols="72" rows="4"></textarea> <br>
                        <button type="submit">Submit</button>
                    </form>
                </main>

            <footer th:replace="partials/footer :: footer"></footer>
            <div th:replace="partials/scripts :: scripts"></div>
        </body>
    </html>