<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <title>Show Posts</title>
            <link th:replace="partials/links :: links"/>
        </head>
        <body>
            <header th:replace="partials/header :: header"></header>
            <nav th:replace="partials/navbar :: navbar"></nav>

                <main class="container">
                    <show_message th:if="${meassages}">

                        <div th:each="item : ${messages}">
                            <h2 th:text="${message.title}"></h2>
                            <p th:text="${message.body}"></p>

                            <form style="display: inline" th:action="@{'/posts/' + ${message.id}}">
                                <button>View</button>
                            </form>

                            <form style="display: inline" th:action="@{'/posts/edit/' + ${message.id}}">
                                <button>Edit</button>
                            </form>

                            <form style="display: inline" th:action="@{'/posts/delete/' + ${message.id}}">
                                <button>delete</button>
                            </form>

                            <br>
                            <br>
                        </div>
                    </show_message>
                </main>

            <footer th:replace="partials/footer :: footer"></footer>
            <div th:replace="partials/scripts :: script"></div>
        </body>
    </html>
