<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create A Post</title>
    <link th:replace="partials/links :: links"/>

    <link rel="stylesheet" href="/static/css/messages.css">

</head>
<body>
<header th:replace="partials/header :: header"></header>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="row">
    <div class="col-md-offset-7 col-md-5">
        <div class="panel panel-default">
            <div class="panel-collapse collapse in" id="collapseOne">
                <div class="panel-body">
                    <ul class="chat" style="list-style-type: none">
                        <li class="right clearfix">
                            <span class="chat-img pull-right">
                                <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar"
                                     class="img-circle">
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                                    <strong class="pull-right primary-font">Santos Estrada</strong>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-heading" id="accordion">
            <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm">
                            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                        </button>
                    </span>
                <input id="btn-input" type="text" class="form-control input-sm"
                       placeholder="Type your message here..." vk_18c1e="subscribed"
                       style="direction: rtl;"/>
                <span class="input-group-btn">
                        <button class="btn btn-default btn-sm" id="btn-chat">
                            <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                         </button>
                    </span>
            </div>
        </div>
    </div>
</div>
            <footer th:replace="partials/footer :: footer"></footer>
            <div th:replace="partials/scripts :: scripts"></div>
</body>
</html>
