<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="states">
    <select id="inputState" class="form-control" th:field="*{state}">
        <option selected th:value="'Alabama'" th:text="Alabama"></option>
        <option th:value="'Alaska'" th:text="Alaska"></option>
        <option th:value="'Arizona'" th:text="Arizona"></option>
        <option th:value="'Arkansas'" th:text="Arkansas"></option>
        <option th:value="'California'" th:text="California"></option>
        <option th:value="'Colorado'" th:text="Colorado"></option>
        <option th:value="'Connecticut'" th:text="Connecticut"></option>
        <option th:value="'Delaware'" th:text="Delaware"></option>
        <option th:value="'Florida'" th:text="Florida"></option>
        <option th:value="'Georgia'" th:text="Georgia"></option>
        <option th:value="'Hawaii'" th:text="Hawaii"></option>
        <option th:value="'Idaho'" th:text="Idaho"></option>
        <option th:value="'Illinois'" th:text="Illinois"></option>
        <option th:value="'Indiana'" th:text="Indiana"></option>
        <option th:value="'Iowa'" th:text="Iowa"></option>
        <option th:value="'Kansas'" th:text="Kansas"></option>
        <option th:value="'Kentucky'" th:text="Kentucky"></option>
        <option th:value="'Louisiana'" th:text="Louisiana"></option>
        <option th:value="'Maine'" th:text="Maine"></option>
        <option th:value="'Massachussets'" th:text="Massachussets"></option>
        <option th:value="'Michigan'" th:text="Michigan"></option>
        <option th:value="'Minnesota'" th:text="Minnesota"></option>
        <option th:value="'Missippi'" th:text="Missippi"></option>
        <option th:value="'Nebraska'" th:text="Nebraska"></option>
        <option th:value="'Missouri'" th:text="Missouri"></option>
        <option th:value="'Montana'" th:text="Montana"></option>
        <option th:value="'Nebraska'" th:text="Nebraska"></option>
        <option th:value="'Nevada'" th:text="Nevada"></option>
        <option th:value="'New-Hampshire'" th:text="'New' + ' ' + 'Hampshire'"></option>
        <option th:value="'New-Jersey'" th:text="'New' + ' ' + 'Jersey'"></option>
        <option th:value="'New-Mexico'" th:text="'New' + ' ' + 'Hampshire'"></option>
        <option th:value="'New-York'" th:text="'New' + ' ' + 'York'"></option>
        <option th:value="'North-Carolina'" th:text="'North' + ' ' + 'Carolina'"></option>
        <option th:value="'North-Dakota'" th:text="'North' + ' ' + 'Dakota'"></option>
        <option th:value="'Ohio'" th:text="Ohio"></option>
        <option th:value="'Oklahoma'" th:text="Oklahoma"></option>
        <option th:value="'Oregon'" th:text="Oregon"></option>
        <option th:value="'Pennsylvania'" th:text="Pennsylvania"></option>
        <option th:value="'Rhode-Island'" th:text="'Rhode' + ' ' + 'Island'"></option>
        <option th:value="'South-Carolina'" th:text="'South' + ' ' + 'Carolina'"></option>
        <option th:value="'South-Dakota'" th:text="'South' + ' ' + 'Dakota'"></option>
        <option th:value="'Tennessee'" th:text="Tennessee"></option>
        <option th:value="'Texas'" th:text="Texas"></option>
        <option th:value="'Utah'" th:text="Utah"></option>
        <option th:value="'Vermont'" th:text="Vermont"></option>
        <option th:value="'Virginia'" th:text="Virginia"></option>
        <option th:value="'Washington'" th:text="Washington"></option>
        <option th:value="'West-Virginia'" th:text="'West' + ' ' + 'Virginia'"></option>
        <option th:value="'Wisconsin'" th:text="Wisconsin"></option>
        <option th:value="'Wyoming'" th:text="Wyoming"></option>
    </select>
</div>