<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <link th:replace="partials/links :: links"/>
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Log In</h1>
<div th:if="${param.error}">
    Invalid Username and/or Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <input type="submit" value="Log In" />
</form>
<footer th:replace="partials/footer :: footer"></footer>
<script th:replace="partials/scripts :: scripts"></script>
</body>
</html>