<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <title>Show Posts</title>
            <link th:replace="partials/links :: links"/>
        </head>
        <body>
            <nav th:replace="partials/navbar :: navbar"></nav>

            <h1>Welcome to <span th:text="${user.username}"></span>'s Profile Page</h1>
            <br>
            <br>

            <h2 style="text-align: center">Your Profile Info</h2>
            <br>
            <br>
            <br>
            <h2 style="text-align: center">Your Group Info</h2>
            <p style="text-align: center">(If no group has been created, this will not show)</p>
           <div style="text-align: center;"><form style="display: inline" th:action="@{'/groups/create'}" >
                <button>Create Group</button>
            </form>
           </div>

            <!--                        <main class="container">-->
<!--                            <h2>Your Group Information</h2>-->
<!--                                    <p th:text="${group.name}"></p>-->
<!--                                    <p th:text="${group.rallyPointCoordinates}"></p>-->
<!--                                    <br>-->
<!--                                </div>-->
<!--                            </show_message>-->
<!--                        </main>-->

        <footer th:replace="partials/footer :: footer"></footer>
        <script th:replace="partials/scripts :: scripts"></script>
    </body>
</html>