<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link th:replace="partials/links :: links"/>
    <link rel="stylesheet" th:href="@{/css/404.css}">
</head>

<body>

<nav th:replace="partials/navbar :: navbar"></nav>


<h1>OOPS! Something went wrong! </h1>
<h2>Our Engineers are on it!</h2>
<a href="/" class="btn btn-primary btn-lg">Go Home</a>

<!--<footer th:replace="partials/footer :: footer"></footer>-->
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>
