<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>
    <link th:replace="partials/links :: links"/>
    <link rel="stylesheet" th:href="@{/css/404.css}">
</head>

<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<!--          404 ERROR PAGE-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>404 Not Found</h2>
                <div class="error-details">Sorry, an error has occured, Requested page not found!</div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<footer th:replace="partials/footer :: footer"></footer>-->
<script th:replace="partials/scripts :: scripts"></script>

</body>
</html>