/*INSIDE PAGE HTML JUMBOTRON CSS*/
nav {
    font-family: 'Poppins', sans-serif;
}

.nav-link, button.btn-link.btn {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: black;
}

body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    min-width: 250px;
}


p {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    min-width: 250px;
}


.jumbotron {
    /*background-image: url("/img/HELP_BrandingConcepts.jpg");*/
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.light-blue {
    background-color: #EBF2FA;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

h1 {
    text-align: center;
}

/*BLUE BOOTSTRAP FUNCTION BUTTONS */
#containerBlueButton1 {
    max-width: 500px;
}

#containerBlueButton2 {
    max-width: 500px;
}

#containerBlueButton3 {
    max-width: 500px;
}

#containerBlueButton4 {
    max-width: 500px;
}

.footer {
    position: fixed;
}
