/*PAGE CSS*/
body {
    background-color: lightgrey;
}

/*JUMBOTRON CSS*/
.jumbotron {
    background-image: url("../../../Household-Emergency-Logistical-Plan/src/main/resources/static/img/HELP_BrandingConcepts.jpg");
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*CHECKLIST WITH RADIO BUTTONS CSS*/
#container {
    max-width: 1500px;
}
#containerPrint {
    max-width: 1400px;
}
.outer-form {
    background: grey;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 11px 2px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 4px 11px 2px rgba(0, 0, 0, 0.8);
    -ms-box-shadow: 0px 4px 11px 2px rgba(0, 0, 0, 0.8);
    -o-box-shadow: 0px 4px 11px 2px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 11px 2px rgba(0, 0, 0, 0.8);
    color: black;
}
.custom-container {
    display: block;
    position: relative;
    margin: 10px 0;
    padding-left: 50px;
    cursor: pointer;
    font-size: 25px; /*FONT SIZE*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox and radio */
.custom-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.href {
    color: blue;
}
/* Create a custom checkbox */
.checkmark, .checkmark-radio {
    position: absolute;
    top: 6px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
/* Create a custom radio button shape*/
.checkmark-radio{
    border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.custom-container:hover input ~ .checkmark, .custom-container:hover input ~ .checkmark-radio {
    background-color: #04d9ff;
}
/* When the checkbox/radio button is checked, add a blue background */
.custom-container input:checked ~ .checkmark, .custom-container input:checked ~ .checkmark-radio {
    background-color: #B5032C;
}
/* Create the indicator: dot/circle/checkmark (hidden when not checked) */
.checkmark:after, .checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the indicator: dot/circle/checkmark  when checked */
.custom-container input:checked ~ .checkmark:after, .custom-container input:checked ~ .checkmark-radio:after  {
    display: block;
}
/* Style the indicator (dot/circle) */
.custom-container .checkmark-radio:after{
    top: 7px;
    left: 7px;
    width: 10px;
    height:10px;
    border-radius: 50%;
    background: #08ffff;
}
/* Style the checkmark/indicator */
.custom-container .checkmark:after {
    left: 8px;
    top: 3px;
    width: 8px;
    height: 14px;
    border: solid #08ffff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*TOOLTIPS CSS*/
.arrowpopup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.arrowpopup .tooltiptext {
    visibility: hidden;
    width: 750px;
    background-color: #856;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 9px ;
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -375px;
}
.arrowpopup .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #856 transparent transparent transparent;
}
.arrowpopup .show {
    visibility: visible;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*TOOLTIPS BLINKING CSS*/
.blinking{
    animation:blinkingText 4.5s infinite;
}
@keyframes blinkingText{
    0%{color:blue;}
    10%{color:blue;}
    20%{color:blue;}
    30%{color:blue;}
    40%{color:transparent;}
    50%{color:transparent;}
    60%{color:transparent;}
    70%{color:blue;}
    80%{color:blue;}
    90%{color:blue;}
    100%{color:blue;}
}