<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Household Emergency Logistics Planner</title>
    <link th:replace="partials/links :: links"/>
</head>
<body>

<!--<header th:replace="partials/header :: header"></header>-->
<nav th:replace="partials/navbar :: navbar"></nav>

<!--    INDEX/HOME PAGE-->
<section class="container-fluid">
    <div class="jumbotron text-center">
        <h1 class="display-4 text-center font-weight-bold">We're Here to HELP</h1>
        <p class="lead">The Household Emergency Logistics Planner (HELP) is an application for planning and organizing an emergency response plan for a single household and family groups.</p><br>
        <div class="text-center"><a class="btn btn-primary btn-lg text-center" href="/our-team" role="button">Meet Our Team</a>
        </div>
    </div>
</section>

<br>

<main>
<h2 class="text-center blue-text">Just a Few Steps Away from Your Emergency Plan</h2>
<br>

<!--    STEPS CARDS-->
<section class="container-fluid">
    <div class="card-deck white-box">
        <div class="card border-0">
            <img src="img/home/sending-email.jpg" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Register and Create Your Group</h5>
                <p class="card-text text-center">Register as your group's administrator, name your group and set an emergency meetup location.</p>
            </div>
        </div>
        <div class="card border-0">
            <img src="img/home/father-daughter-looking-at-phone.jpg" class="card-img" alt="...">
            <div class="card-body text-center">
                <h5 class="card-title">Invite Members to Join Your Group</h5>
                <p class="card-text text-center">Invite members of your household to join your group and have access to your family's emergency plan.</p>
            </div>
        </div>
        <div class="card border-0">
            <img src="/../img/home/couple-packing.jpg" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Create your Checklist</h5>
                <p class="card-text text-center">Set a list of sentimental items and save links to important documents and websites that can quickly be accessed during an emergency.</p>
            </div>
        </div>
        <div class="card border-0">
            <img src="/../img/home/woman-holding-phone.jpg" class="card-img" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">Have Your Plan On-The-Go</h5>
                <p class="card-text text-center">Access your plan, view your checklist and send messages to your family members on the go from your mobile device.</p>
            </div>
        </div>
    </div>
</section>
<br>
<div class="text-center"><a class="btn btn-primary btn-lg text-center" href="/register" role="button">Get Started</a>
</div>
</main>
<!--<br>-->

<!--<footer th:replace="partials/footer :: footer"></footer>-->
<div th:replace="partials/scripts :: scripts"></div>
<div></div>

</body>
</html>