<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Household Emergency Logisitics Planner</title>
    <link th:replace="partials/links :: links"/>
</head>
<body>

<!--<header th:replace="partials/header :: header"></header>-->
<nav th:replace="partials/navbar :: navbar"></nav>

<!--    INDEX/HOME PAGE-->
<section class="container-fluid">
    <div class="jumbotron">
        <h1 class="display-4 text-center font-weight-bold">We're Here to HELP</h1>
        <p class="lead text-center">This is a simple hero unit, a simple jumbotron-style component for calling extra
            attention to
            featured content or information.</p>
        <div class="text-center"><a class="btn btn-primary btn-lg text-center" href="#" role="button">Learn more</a>
        </div>
    </div>
</section>

<br>

<section class="container-fluid">
    <div class="row no-gutters bg-info">
        <div class="col-md-4">
            <img src="/../img/home/couple-looking-at-photos.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title text-center">Keep a List of Sentimental Items</h2>
                <p class="card-text text-center">During emergencies, feel at ease knowing you have a thought-out list of items that money can't replace. </p>
            </div>
        </div>
    </div>

    <br>

    <div class="row no-gutters bg-info">
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title text-center">Have a Plan For Emergencies</h2>
                <p class="card-text text-center"></p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="/../img/home/couple-packing.jpg" class="card-img" alt="...">
        </div>
    </div>

    <br>
    <div class="row no-gutters bg-info">
        <div class="col-md-4">
            <img src="/../img/home/woman-holding-phone.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title text-center">Have Your Plan with You on The Go</h2>
                <p class="card-text text-center">Access your plan, view your checklist and messages your family members on the go from your mobile device.</p>
            </div>
        </div>
    </div>

</section>

<br>

<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/scripts :: scripts"></div>

</body>
</html>