<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Team</title>
    <link th:replace="partials/links :: links"/>
    <link rel="stylesheet" th:href="@{/css/our-team.css}">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
<!--&lt;!&ndash;    ABOUT OUR PROJECT JUMBOTRON&ndash;&gt;-->
<!--<div class="jumbotron jumbotron-fluid">-->
<!--    <div class="container">-->
<!--        <h1 class="display-4">H.E.L.P.</h1>-->
<!--        <p class="lead">Household Emergency Logistic Planner</p>-->
<!--    </div>-->
<!--</div>-->



<!--    ABOUT US FLIP CARDS-->
<container class="container-fluid text-center">
    <section id="outTeamCards" class="col-12 d-flex justify-content-around">
        <h2 style="color:white"> Our Team</h2>
        <figure class="snip1515">
            <div class="profile-image"><img src="img/our-team/tracy.jpg" alt="sample83"/></div>
            <figcaption>
                <h3>Tracy Velasquez</h3>
                <p><em>"I have no special talent. I am only passionately curious." ― Albert Einstein</em></p><br>
                <p class="card-text text-center"><strong>My Contributions</strong></p>
                <p>Java, Spring Boot and SQL Functionality, Map Functionality, Database Design, Design, Content, Copywriting</p>
                <div>
                    <div class="icons">
                        <a href="mailto:velasqueztracy25@gmail.com"><i class="fa fa-envelope mr-3" aria-hidden="true"></i></a>
                        <a href="https://github.com/VelasquezTracy25"><i class="fa fa-github-square" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/tracy-velasquez/"><i class="fa fa-linkedin-square ml-3" aria-hidden="true"></i></a></div>
                </div>
            </figcaption>
        </figure>
        <figure class="snip1515">
            <div class="profile-image"><img src="img/our-team/jonathan.jpg" alt="sample83"/></div>
            <figcaption>
                <h3>Jonathan Phillips</h3>
                <p><em>“It is hard to fail, but it is worse never to have tried to succeed.” ― Theodore Roosevelt
                </em></p><br>
                <p class="card-text text-center"><strong>My Contributions</strong></p>
                <p>Java, Springboot, Database Design, Back-End Development for: User Registration, Messaging, Sentimental Checklist, and Documents URLs</p>
                <div>
                    <div class="icons">
                        <a href="mailto:jonathan.m.phillips2@gmail.com"><i class="fa fa-envelope mr-3" aria-hidden="true"></i></a>
                        <a href="https://github.com/jonathan-m-phillips"> <i class="fa fa-github-square" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/jonathan-m-phillips/"><i class="fa fa-linkedin-square ml-3" aria-hidden="true"></i></a></div>
                </div>
            </figcaption>
        </figure>
        <figure class="snip1515">
            <div class="profile-image"><img src="img/our-team/santos.jpeg" alt="sample70"/></div>
            <figcaption>
                <h3>Santos Estrada</h3>
                <p><em>"Accomplishment will prove to be a Journey, not a Destination" ― General Dwight D. Eisenhower</em></p><br>
                <p class="card-text text-center"><strong>My Contributions</strong></p>
                <p>Front-end Development, Styling, Database Design, Authentication, Navigation and Registration Functionality.</p>
                <div>
                    <div class="icons">
                        <a href="mailto:santos.estrada1@gmail.com"><i class="fa fa-envelope mr-3" aria-hidden="true"></i></a>
                        <a href="https://github.com/santosestrada1"><i class="fa fa-github-square" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/santos-estrada"><i class="fa fa-linkedin-square ml-3" aria-hidden="true"></i></a></div>
                </div>
            </figcaption>
        </figure>
        <figure class="snip1515">
            <div class="profile-image"><img src="img/our-team/donnie.png" alt="Donald Spini"/></div>
            <figcaption>
                <h3>Donald Spini</h3>
                <p><em>"You can observe a lot by just watching." ― Yogi Berra</em></p><br><br>
                <p class="card-text text-center"><strong>My Contributions</strong></p>
                <p>Concept, Design, Content, API Integration Front End Development, Styling and Functionality</p><br>
                <div>
                    <div class="icons">
                        <a href="mailto:donald.spini68@gmail.com"><i class="fa fa-envelope mr-3" aria-hidden="true"></i></a>
                        <a href="https://github.com/dspini"><i class="fa fa-github-square" aria-hidden="true"></i></a>
                        <a href="https://www.linkedin.com/in/donald-spini/"><i class="fa fa-linkedin-square ml-3" aria-hidden="true"></i></a></div>
                </div>
            </figcaption>
        </figure>
    </section>
</container>

<!--Blue Container-->
<div id="our-project">
    <h2 class="">Our Project</h2>
    <container class="container-fluid" >
        <p>The Household Emergency Logistics Planner (HELP) is an application for planning and organizing an emergency
            response plan for a single household and family groups. HELP is a full stack Java application the allows the user to register and account for personal or groups, create posts and view posts, create checklists, maps and upload documents. </p><br>
        <p>This application utilizes the Mapbox API and Filestack API, HELP is implemented on MySQL database, Spring Boot
            Security and Thymeleaf, as well as CSS and Bootstrap styling , and Javascript, JQuery, Json, and AJAX.</p>
    </container>
</div>

<br>
<br>
<br>

<!--<footer th:replace="partials/footer :: footer"></footer>-->
<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>